{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Django com Bootstrap - Standalone</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello World - Django com Bootstrap (Standalone)</h1>
            </div>
        </div>
    </div>
</body>
</html>